<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "PromptLore" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="PromptLore">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "highlight", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "markdown", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to "PromptLore", root_path %> |
      <% if user_signed_in? %>
        <%= link_to current_user.username, user_path(current_user) %> |
        <%= link_to "Upload", new_repository_path %> |
        <%= link_to "New Preset", new_preset_path %> |
        <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %> |
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </nav>

    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
